*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}

.head1{
    position: relative;
    overflow: hidden;  
    width: 100%;
    height: 160%;
    background-color: rgb(195, 195, 246);   
}

.logo{
    width: 80px;
    height: 70px;
    z-index: 3;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
   
}

.head1 nav h1{
    font-size: 40px;
    border: 3px solid black;
    height: 60px;
    width: 300px;
    padding-left: 16px;
    padding-top: 10px;
    background: rgb(180, 205, 248);
}

nav ul li a {
    padding-bottom: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}


.small{
    font-size: 12px;
    color: black;
    font-weight: lighter;
    line-height: 20px;
}

nav ul .btn li a{
    background-color: rgb(91, 43, 91);
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 5px 0px 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

nav ul .btn li a:hover{
    color: white;
    background-color: black;
    transform:scale(1.2);    
}

nav ul .btn .rep{
    background-color:rgb(195, 195, 246);
    border: 2px solid black;
    color: black;
}

.details{
    margin-left: 8%;
    margin-top: 15%;
}

span{
    color: goldenrod;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown :hover{
    text-decoration: underline ;
}

.dropdown-content {
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: rgb(165, 165, 216);
    min-width: 360px;
    white-space: nowrap;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: rgb(130, 130, 183);
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display:block ;
}

.submit{
    width: 75%;
    height: 65%;
    background: rgb(226, 222, 222);
    margin: 130px 0px 0px 180px;
    border-radius: 20px;
    border: 1px solid black;
}

.ticket{
    display: flex;
}

.pa h1{
    text-align: center;
    font-size: 60px;
    margin-top: 280px;
    margin-left: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(64, 48, 48);
}

.pa h4{
    text-align: center;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.ticket h6{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-top: 40px;
}

.ticket input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
}

.sec textarea{
    margin-left: 40px;
    border-radius: 10px;
    margin-top: 10px;
    width: 400px;
}

.file{
    font-size: 20px;
    cursor: pointer;
}

.sec button{
    font-size: 20px;
    margin-left: 40px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: rgb(92, 92, 92);
    color: white;
    margin-top: 20px;
}




.fotter{                                     /* FOTTER PART */
    width: 100%;
    height: 73%;
    background: #000000;
}

.fotter .f1{
    display: flex;
}

.fotter .f1 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 80px;
}

.fotter h1 a {
    font-family: 'Times New Roman', Times, serif;  
    color: rgb(0, 154, 154);
    text-decoration: none;
    border-bottom: 2px solid rgb(0, 154, 154); 
    padding-bottom: 2px; 

}

.fotter ul li a{
    color: white;
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
}

.fotter ul {
    margin-top: 70px;
    margin-left: 120px;
}

.fotter ul li{
    display: inline-block;
}

.fotter hr{
    margin-top: 50px;
}

.fotter h1{
    color: rgb(157, 145, 145);
    font-size: 150px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 190px;
    margin-top: 50px;
}

.contact .c1 li a{
    font-size: 13px;
    color: whitesmoke;
}

.contact{
    margin-left: -110px;
    padding-top: 40px;
    padding-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}









































